.product-card {
  padding: 0.625rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card-image {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: contain;
  margin-bottom: 0.625rem;
}

.product-card-category {
  font-size: 0.875rem;
  align-self: self-start;
}

.product-card-description {
  font-size: 0.875rem;
  color: var(--text-color);
  align-self: self-start;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
}

.product-card-actions {
  display: flex;
  align-self: flex-start;
  margin-top: 0.625rem;
  gap: 1rem;
}

.product-card-remove,
.product-card-like {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
}
