.back-button {
  display: inline-block;
  margin-bottom: 1.25rem;
  padding: 0.625rem 1.25rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.313rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.back-button:hover {
  background-color: var(--hover-color);
}
